/* 去除内外边距，统一样式 */
*{ margin:0;padding:0;box-sizing: border-box;}
/* 列表去点*/
ul,ol,dl{list-style:none;}
/* a标记去下划线 */
a{ text-decoration:none;}
/* 字体 */
a,li,span,h1,h2,h3,h4,h5,h6,input{
    font-family:SimSun,"Microsoft Yahei",Arial,sans-serif;
}
/* 上外边距溢出 */
.m_over:before{
    content:"";
    display:table;
}
/* 弹性布局 居中 定宽 */
.box{
    width:1240px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
p.explain{
    color:#b0b0b0;
    font-size: 12px;
}
/* 微信 QQ精灵图 */
a.wx{
    display:inline-block;
    width:33px;
    height:33px;
    background: url(../img/login/login_icon_bg.png) no-repeat 75% 0;
}
a.qq{
    display:inline-block;
    width:33px;
    height:33px;
    background: url(../img/login/login_icon_bg.png) no-repeat top left; 
}
a.qq:hover{
    background-position:bottom left;
}
a.wx:hover{
    background-position:75% 100%;
}

/* 右下角固定插件 */
.relation,.msg{
    position:fixed;
    width:80px;
    height:60px;
    right:0;
}
.relation{
    bottom:90px;
}
.msg{
    bottom:20px;
}