/* 路径导航 */
.path{
    background: #f5f5f5;
    padding:10px 0;
}
.path p{
    width:1240px;
    margin:0 auto;
    color:#616161;
}
.path a{
    color:#000;
    font-size: 12px;
}
/* 商品详情内容 */
.content{
    width:1240px;
    margin:0 auto;
    padding:35px 0;
    display:flex;
    justify-content: space-between;
}
/* 边框 */
.content .left{
    border:1px solid #ddd;
    padding:10px;
    width:392px;
}
.left .left_top{
    position: relative;
    border:1px solid #aaa;
    width: 370px;
    height:370px;
}
/* 中图 */
#md-img{
    width: 368px;
    height:368px;
}
/* 隔罩层 */
#mask{
    width:170px;
    height:170px;
    background-color:rgba(0,0,0,.1);
    position: absolute;
    top:0;
    left:0;
    display:none;
}
/* 隔离层 */
#super-mask{
    width:368px;
    height:368px;
    position: absolute;
    top:0;
    left:0;
}
/* 放大镜图片 */
#div-lg{
    width:340px;
    height:340px;
    position:absolute;
    left:380px;
    top:0;
    background-size:700px 700px;
    background-image:url("../img/details/1.src");
    display:none;
}
.content .left>div:nth-child(2){
    margin-top:15px;
}
/* 左右箭头 */
.content .left>div:nth-child(2)>img{
    position:relative;
    padding:18px 8px;
    cursor:pointer;
    opacity:0.5;
    transition:all .3s linear
}
.content .left>div:nth-child(2)>img:hover{
   opacity: 1;
}
/* 小图片 */
#sm-imgs{
    width:300px;
    height:60px;
    display:inline-block;
    overflow:hidden;
}
#sm-imgs li{
    width:60px;
    height:60px;
    float:left;
    cursor:pointer;
    padding:0 5px;
}
#sm-imgs li+li{
    border-left:0;
}
/* 被选中状态 */
#sm-imgs img.active{
    border:1px solid blue;
}
/* 鼠标悬浮状态 */
#sm-imgs img:hover{
    border:1px solid blue;
}
#sm-imgs li>img{
    width:55px;
    height:55px;
    border:1px solid #aaa;
}
.content .right{
    width:700px;
}
/*右边部分*/
.right>h2{
    font-size:24px;
    color:#333;
    padding-bottom:25px;
}
/* 文本内容通用样式 */
.right>p{
    font-size: 12px;
    color:#818181;
}
/*到手价上下边距 */
.right>p:nth-child(5){
    margin:15px 0;
    padding:20px 0;
    border-top:1px dotted #818181;
    border-bottom:1px dotted #818181;
}
.right>p:nth-child(5) i{
    color:#ff7c44;
    font-style:normal;
}
/* 价格 */
.right>p:nth-child(5) big{
    color:#ff7c44;
    font-size: 32px;
    font-weight: 700;
}
/* 月销售量 */
.right>p:nth-child(7){
    margin:15px 0;
}
/* 增与减按钮 */
.right>p:nth-child(8)>button{
    display:inline-block;
    width:25px;
    height:25px;
    border:1px solid #ccc;
    background-color:#fff;
    outline:none;
    cursor: pointer;
}
/* 输入框 */
.right>p:nth-child(8)>input{
    width:50px;
    height:25px;
    border:1px solid #ccc;
    outline:0;
    text-align: center;
} 
/* 购买与加入购物车 */
.right>p:nth-child(8)~button{
    width:150px;
    height:50px;
    border-radius:3px;
    margin:25px 10px 20px 0 ;
    color:#fff;
    font-size: 16px;
    border:0;
    cursor:pointer;
    outline:none;
}
._shopping{
    background: #df7141;
}
._cart{
    background: #2264af;
}
/* =======全场免运费=========== */
.right>li{
    font-size: 14px;
    color:#333;
    margin-bottom:15px;
}
/* 收藏 */
.right>a.sc{
    color:#333;
    background:url(../img/details/collectbg.png) no-repeat left center;
    padding:20px;
}
/* 分享到 */
.right>a.fx{
    padding-left:18px; 
    color:#666;
    background-image:url(../img/details/icons_0_16.png);
    background-repeat:  no-repeat;
    background-position: 0 0;
}
/* 分享方式 */
#fx_content_1,#fx_content_2{
    display:none;
}
/* 新浪微博 */
a.xlwb{
    padding:10px;
    background:url(../img/details/icons_0_16.png) no-repeat 0 -94px;
}
/* QQ空间 */
a.qqkj{
    padding:10px;
    background:url(../img/details/icons_0_16.png) no-repeat 0 -41px;
}
/* 朋友圈 */
a.wxpyq{
    padding:10px;
    background:url(../img/details/icons_0_16.png) no-repeat 0 -1601px;
}

/* ===================详情锚点====================== */
/* 最外层div */
div.fixed{
   position:fixed;
   top:0;
   width:100%;
   background:#fff; 
}
div.target{
    width:1240px;
    display:flex;
    margin:auto;
    justify-content:space-between;
}
.target-left,.target-right{
    display:none;
}
/* 商品简介 */
.target-left img{
    width:60px;
    margin-top:5px;
    vertical-align: middle;
}
/* 隐藏 */

.target-left div{
    height:60px;
    width:150px;
    margin-left:10px;
   display:inline-block;
}
.target-left div p.lname{
    position: relative;
    top:10px;
    color:#666;
    font-size:14px;
}
.target-left div p.price{
    position: relative;
    top:15px;
    color:#df7141;
    font-size:16px;
    font-weight:bold;
}
.target-right button{
    width:100px;
    height:40px;
    color:white;
    margin-top:15px;
    outline:none;
    border:0;
    border-radius:5px;
    cursor:pointer;
    font-size:14px;
    line-height:40px;
}
/* 锚点 */
ul.details_href{
    width:800px;
    display:flex;
    margin:20px auto;
}
ul.details_href>li{
    width:200px;
    text-align: center;
}
ul.details_href>li~li{
    border-left:1px solid #aaa;
}
/* 字体颜色大小 */
ul.details_href>li>a{
    font: 24px 微软雅黑;
    font-weight: 500;
}
ul.details_href>li:first-child>a{
    color:#2264af;
}
ul.details_href>li:not(:first-child)>a{
    color:#000;
}
ul.details_href>li>a:hover{
    color:#2264af;
}
/* ==================商品详情===================== */
#s_details img{
    width:100%;
    min-width:1240px;
    cursor: pointer;
}
/* 规格参数 */
fieldset{
    width:1240px;
    margin:40px auto;
    border-left:0;
    border-bottom:0;
    border-right:0;
    border-top:2px solid #ddd;
}
fieldset legend{
   text-align: center;
   color:#333;
}
fieldset legend h2{
    padding:0 50px;
}
fieldset~img{
    width:100%;
    min-width: 1240px;
    cursor: pointer;
}
/* ==================商品评价 =====================*/
#appraise{
    background-color:rgba(246,153,175,0.25);
    padding:10px 0 50px;
}
#appraise>ul{
    width:1240px;
    margin:0 auto;
}
/* =盒子内边距== */
#appraise>ul>li{
    padding-left:70px;
}
#appraise>ul ul{
    display:flex;
}

#appraise>ul>li{
    border:1px solid #aaa;
}
#appraise>ul>li~li{
    border-top:0;
    background: #fff;
}
/* 评价顶部 */
#appraise>ul>li:first-child li{
    width:150px;
    color:#333;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    padding:15px 0;
}
/* 评价底部区域 */
#appraise>ul>li:last-child>ul{
  justify-content: space-between;
  color:#333;
  font-size: 13px;
  padding:15px 10px 15px 0;
}
/* 发表评论 */
#appraise>ul>li:last-child>ul>li:first-child{
    border:1px solid #aaa;
    padding:7px 15px;
}
/* 页码区 */
#appraise .count,#appraise .count+span{
    color:#000;
    font-size: 12px;
    margin-right:15px;
}
/* 页码输入框 */
#appraise input.page{
    width:50px;
    height:25px;
    text-align: center;
    margin-right:15px;
    outline:none;
}
/* 跳转按钮 */
#appraise .GO{
    width:80px;
    height:25px;
    text-align: center;
    border:1px solid #aaa;
    color:#333;
    background: #fff;
    position: relative;
    cursor: pointer;
}
#appraise .GO span{
    display:inline-block;
    border-left:5px solid #333;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-right:5px solid transparent;
    position: absolute;
    right:5px;
    top:6px;
}
/* 评价内容 */
.pinglun{
    display: flex;
    justify-content: space-between;
    padding-right:70px;
    padding-top:20px;
}
/*左右定宽 */
.pinglun>div:first-child{
    width:950px;
}
.pinglun>div:last-child{
    width:150px;
    margin-left:25px;
}
/* 字体通用样式 */
.pinglun span,.pinglun p{
    color:#aaa;
    font-size: 12px;
}
/* 官方回复 */
.reply{
    background-color: rgba(246,153,175,0.25);
    padding:10px 0;
    margin:15px 0;
}
/*  */
.pinglun b{
    color:#df7141;
    font-size: 14px;
    padding-left:5px;
}
.pinglun>div>img{
    vertical-align: middle;
}
.pinglun>div:last-child p{
    line-height: 25px;
    font-size: 14px;
    color:#666;
}
/* ==================售后服务====================== */
#post>div{
    border:1px solid #ddd;
    padding:30px;
    margin-top:25px;
}
#post>div>p{
    font-size: 14px;
    color:#666;
    line-height:30px;
}
/* ===============推荐商品==============*/
ul.recommend{
    margin-top:25px;
    display:flex;
    width:100%;
}
/* 边框 */
ul.recommend>li{
    width:310px;
    border:1px solid #aaa;
    text-align: center;
    padding:10px 25px;
}
/* 去掉重合边框 */
ul.recommend>li~li{
    border-left:0;
}
/* 图片按比例缩小 */
ul.recommend>li img{
    width:100%;
}
/* 产品名称上下边距 */
ul.recommend>li p{
    margin-top:12px;
    margin-bottom:7px;
}
/* 字体样式 */
ul.recommend>li a{
    color:#1b1b1b;
    font-size:16px;
}
ul.recommend>li>span{
    color:#aaa;
    font-size: 14px;
}

