/* 主体背景 */
.main{
    height:600px;
    background:#f5f5f5;
    padding-top:30px;
}
/* 内容页面居中 */
.reg{
    width:300px;
    margin:0 auto;
}
/* ==============提示小图标================= */
.reg li span:not(:only-child){
    display:inline-block;
    width:35px;
    height:35px;
    background-color: #fff;
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    vertical-align: middle;
    position: relative;
    top:-1px;
}
/* 用户名 */
.reg .uname_pic{
    background: url(../img/login/user-id.png) no-repeat center center;
    background-size: 20px 20px;
}
/* 密码 */
.reg .upwd_pic{
    background: url(../img/login/mima.png) no-repeat center center;
    background-size: 30px 30px;
}
/* 电话 */
.reg .phone_pic{
    background: url(../img/login/user-code.png) no-repeat center center;
    background-size: 20px 20px;
}
/* 邮箱 */
.reg .email_pic{
    background: url(../img/login/user-mcode.png) no-repeat center center;
    background-size: 20px 20px;
}
/* 标题样式 */
.reg h3{
    font-size:20px;
    color:#0c82d9;
    text-align: center;
    margin:50px  auto 15px;
    font-weight: bold;
}
/* 表单输入框样式 */
.reg ul input{
    width:265px;
    height:35px;
    border:1px solid #ccc;
    outline:none;
    padding:5px 10px;
}
/* 消息提示行 */
.reg ul li>span:only-child{
    display:block;
    margin-top:2px;
    height:20px;
    margin-bottom:10px;
    font-size:12px;
}
.vali{color:blueviolet}
.vali_success{color:purple;}
.vali_fail{color:red}
/* 用户协议 */
.reg li:nth-child(12){text-align: center;font-size: 16px;}
/* 注册按钮 */
 button{
    margin-top:25px;
    width:300px;
    height:35px;
    line-height:35px;
    text-align: center;
    background:#0c82d9;
    color:#fff;
    border:0;
    cursor: pointer;
} 